مشروع نهائي.json
{
  "name": "مشروع نهائي",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "7080c450-bb0f-43dc-a92e-0819f862b199",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -480,
        192
      ],
      "id": "8939d21e-f2dd-4427-b7f2-04299fd251a3",
      "name": "Webhook",
      "webhookId": "7080c450-bb0f-43dc-a92e-0819f862b199"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa5dad62-590d-4b87-abd0-1a5afb96684c",
              "name": "query['hub.challenge']",
              "value": "={{ $json.query['hub.challenge'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "3270505b-642a-4d1a-aa33-9bfaac391dba",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "834e9402-2da1-4c50-b719-e78c59b4a49c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03ad68a4-0f8c-44c3-8fff-a80212738317",
              "name": "id",
              "value": "={{ $json.body.entry[0].messaging[0].sender.id }}",
              "type": "string"
            },
            {
              "id": "03d60b5d-c046-4b82-933d-a8f5cec3abbd",
              "name": "message",
              "value": "={{ $json.body.entry[0].messaging[0].message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        224
      ],
      "id": "2c2c5005-fa0b-450e-8553-cbffe081ccb1",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/me/messages?access_token=EAAL97ZBILpDwBQ5Ip1BfjwcmYCXpAyYW0vIAdgkbVBkuanJZA2v3ZBZCVyKZA7NPBVUpKgNN5zOtNKZBPt7faJss3P8dOa6ir7DebdSpiNDj2S5sOMavCQr33pVsGthkdM9kiJdePZBu1Irm2QQq46sRdtH0hg328MUcwEmnMDLNiun4BRoTOssZBGZBLZA5v6QDK4UQO0CmGe48dU3UhlzY3ihgZDZD",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Edit Fields1').item.json.id }}\"\n  },\n  \"message\": {\n    \"text\": \"تم استلام طلبك ✅ سيتم التواصل معك قريبًا.\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        128
      ],
      "id": "636c6e9e-ed68-4323-b3e6-33bd7294f753",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.entry[0].messaging[0].message.text }}",
        "options": {
          "systemMessage": "=أنت مساعد ذكي لمطعم اسمه \"باستا كب\".\n\nالمطعم متخصص في تقديم الباستا فقط.\n\nالمنيو:\n\nباستا ألفريدو — 120 جنيه\nباستا وايت صوص — 110 جنيه\nباستا ريد صوص — 100 جنيه\nباستا بولونيز — 130 جنيه\nباستا ميكس جبن — 120 جنيه\nباستا فراخ مشروم — 135 جنيه\n\nقواعد الحوار:\n\n1- إذا قال العميل مرحبا اعرض المنيو مرة واحدة فقط.\n\n2- إذا طلب العميل نوع باستا اسأله عن الكمية فقط.\n\n3- إذا أرسل العميل رقم مثل:\n1\n2\n3\n\nاعتبره عدد الأطباق المطلوبة.\n\n4- بعد معرفة الكمية اطلب البيانات بالترتيب:\n\nالاسم  \nرقم الهاتف  \nالعنوان  \n\n5- لا تعيد عرض المنيو أثناء الطلب.\n\n6- استمر في جمع البيانات حتى تكتمل.\n\n7- بعد اكتمال البيانات أكد الطلب للعميل.\n\nإذا كانت رسالة العميل رقم فقط مثل:\n1\n2\n3\n4\n\nاعتبر هذا الرقم هو كمية الطلب الحالي.\n\nلا تعرض المنيو مرة أخرى.\n\nانتقل مباشرة للخطوة التالية وهي طلب اسم العميل.\n\nإذا ذكر العميل أي كلمة مرتبطة بالصنف، اعتبرها نفس المنتج.\n\nمثال:\n- \"وايت صوص\" = \"باستا وايت صوص\"\n- \"ألفريدو\" أو \"فريدو\" = \"باستا ألفريدو\"\n- \"ريد صوص\" أو \"صوص أحمر\" = \"باستا ريد صوص\"\n- \"بولونيز\" = \"باستا بولونيز\"\n- \"ميكس جبن\" أو \"جبنة\" = \"باستا ميكس جبن\"\n- \"فراخ مشروم\" أو \"مشروم فراخ\" = \"باستا فراخ مشروم\"\n\nحتى لو لم يكتب العميل كلمة \"باستا\"، اعتبره يقصد الباستا.\n\nمثال للحوار:\n\nالعميل: عاوز باستا وايت صوص\nالمساعد: كم طبق تحب؟\n\nالعميل: 2\nالمساعد: تمام 👍\nمن فضلك اكتب اسمك لتأكيد الطلب.\n\nنظام الطلب يعتمد على step.\n\nstep = product\nstep = quantity\nstep = name\nstep = phone\nstep = address\nstep = done\n\nالقواعد:\n\nإذا اختار العميل نوع الباستا\nاجعل step = quantity\n\nإذا أرسل العميل رقم\nاعتبره piece وانتقل إلى step = name\n\nإذا وصل step = name\nاطلب اسم العميل\n\nإذا وصل step = phone\nاطلب رقم الهاتف\n\nإذا وصل step = address\nاطلب العنوان\n\nعند اكتمال البيانات اجعل\nstep = done\nو\norder_complete = yes\n\n================================\n\nيجب أن يكون ردك دائماً JSON فقط.\n\nالصيغة:\n\n{\n\"Product\": \"\",\n\"name\": \"\",\n\"phone\": \"\",\n\"address\": \"\",\n\"piece\": \"\",\n\"step\": \"\",\n\"reply\": \"\",\n\"order_complete\": \"no\"\n}\n\nعند اكتمال الطلب اجعل:\n\n\"order_complete\": \"yes\"\n\nلا تكتب أي نص خارج JSON.\n\nإذا ذكر العميل نوع باستا ثم أرسل أي رسالة تحتوي على رقم أو كلمة مثل:\nواحد\n1\n2\nاتنين\n3\n\nاعتبر هذه الرسالة هي الكمية.\n\nلا تعرض المنيو مرة أخرى.\n\nانتقل مباشرة لطلب اسم العميل.\n\nإذا ذكر العميل نوع الباستا ثم أرسل رقم أو كمية،\nاعتبر أن الطلب أصبح:\n\nProduct = آخر نوع باستا ذكره العميل\npiece = الرقم الذي أرسله العميل\n\nولا تسأل عن نوع الباستا مرة أخرى.\n\nانتقل مباشرة لطلب اسم العميل."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        0,
        224
      ],
      "id": "007790a9-3cd1-4a21-a3a7-1f50dbf054e9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        432
      ],
      "id": "16ffe5f0-d941-4cb4-9392-6865f2b4a567",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "WWm17gP4QJTG1gfL",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$('Webhook').item.json.body.entry[0].messaging[0].sender.id}}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        448
      ],
      "id": "1ab72e21-89f2-40f1-876c-467d1f58e97d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "let raw = $input.first().json.output;\n\n// إزالة markdown لو AI رجع ```json\nraw = raw.replace(/```json/g, '').replace(/```/g, '').trim();\n\n// تحويل النص إلى JSON\nconst order = JSON.parse(raw);\n\n// حفظ آخر منتج\nlet lastProduct = $json.last_product || \"\";\n\nif (order.Product && order.Product !== \"\") {\n  lastProduct = order.Product;\n}\n\n// لو العميل كتب كمية فقط\nif ((!order.Product || order.Product === \"\") && order.piece) {\n  order.Product = lastProduct;\n}\n\nreturn [\n{\njson: {\ndata: order.reply,\nProduct: order.Product,\nname: order.name,\nphone: order.phone,\naddress: order.address,\npiece: order.piece,\norder_complete: order.order_complete,\nlast_product: lastProduct\n}\n}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        224
      ],
      "id": "59df409a-4ed2-40c9-8416-7699b2ebecd0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dfc522c0-4d62-4085-acd0-893002849954",
              "leftValue": "={{$json.order_complete}}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        656,
        224
      ],
      "id": "f02de95b-ec10-4042-bf67-71b3ac8a7b0c",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/me/messages?access_token=EAAL97ZBILpDwBQ5Ip1BfjwcmYCXpAyYW0vIAdgkbVBkuanJZA2v3ZBZCVyKZA7NPBVUpKgNN5zOtNKZBPt7faJss3P8dOa6ir7DebdSpiNDj2S5sOMavCQr33pVsGthkdM9kiJdePZBu1Irm2QQq46sRdtH0hg328MUcwEmnMDLNiun4BRoTOssZBGZBLZA5v6QDK4UQO0CmGe48dU3UhlzY3ihgZDZD",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  recipient: {\n    id: $('Webhook').item.json.body.entry[0].messaging[0].sender.id\n  },\n  message: {\n    text: $json.data\n  }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        384
      ],
      "id": "4276537a-22cb-401b-97d6-bf3114b08258",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Rs82bmvvm98WKf0XzptjoReICSNZSyS0f4tH3OYmztY",
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Rs82bmvvm98WKf0XzptjoReICSNZSyS0f4tH3OYmztY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Rs82bmvvm98WKf0XzptjoReICSNZSyS0f4tH3OYmztY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order ID": "={{$now}}",
            "Customer ID": "={{ $('Edit Fields1').item.json.id }}",
            "Order Items": "={{$json.Product}} - {{$json.piece}}",
            "Address": "={{$json.address}}",
            "Phone": "={{$json.phone}}",
            "Quantity": "={{$json.piece}}",
            "Status": "New",
            "name": "={{$json.name}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer ID",
              "displayName": "Customer ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Order Items",
              "displayName": "Order Items",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        128
      ],
      "id": "356be9cb-a6b2-44ac-8bd1-a30ef97561b2",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cdhrJFI6W4fhSRn6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7145742660",
        "text": "=🍝 طلب جديد من Pasta Cup \n👤 الاسم:  {{ $json.name }}\n📞 الهاتف: {{ $json.Phone }}\n📍 العنوان: {{ $json.Address }} \n🍝 الطلب:   {{ $json['Order Items'] }}\n🔢 الكمية: {{ $json.Quantity }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1072,
        128
      ],
      "id": "476ae422-52c6-4ea8-9b2f-91fa09b5c914",
      "name": "Send a text message",
      "webhookId": "82565273-c1f6-4ce9-8924-b703ba06d9a3",
      "credentials": {
        "telegramApi": {
          "id": "J9RPHi0hbXInMsOs",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7e309443-5738-4144-aca1-a2f02e380add",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5b411d0b444fb6e083d03a4b97da56e01084dd5799b60dc4cd1fa912548296e0"
  },
  "id": "YYSS8TuF9avJzBK9",
  "tags": []
}
